persistence:
  defaultClassReplicaCount: 1

csi:
  attacherReplicaCount: 1
  provisionerReplicaCount: 1
  resizerReplicaCount: 1
  snapshotterReplicaCount: 1

defaultSettings:
  defaultReplicaCount: 1

defaultBackupStore:
  backupTarget: "nfs://192.168.1.20:/mnt/k8s_backups"
  pollInterval: 0

longhornUI:
  replicas: 1

preUpgradeChecker:
  jobEnabled: false