apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ovh-dns-credentials
spec:
  refreshInterval: "0"
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: ovh-dns-credentials
    template:
      data:
        OVH_APPLICATION_KEY: "{{ .OVH_APPLICATION_KEY }}"
        OVH_APPLICATION_SECRET: "{{ .OVH_APPLICATION_SECRET }}"
        OVH_CONSUMER_KEY: "{{ .OVH_CONSUMER_KEY }}"
        OVH_ENDPOINT: "ovh-eu"
        LEGO_DISABLE_CNAME_SUPPORT: 'true'
  data:
    - secretKey: OVH_APPLICATION_KEY
      remoteRef:
        key: 8bc39af0-4ba4-4cc9-9466-b3dd00ab218e

    - secretKey: OVH_APPLICATION_SECRET
      remoteRef:
        key: a6e19854-9abd-4636-a0c9-b3dd00ab37c5

    - secretKey: OVH_CONSUMER_KEY
      remoteRef:
        key: 68dc70a7-b063-4d99-98a2-b3dd00ab477c
