# IDE
.idea

# Talos secrets
talos/clusterconfig

# Generated bootstrap manifests
bootstrap/argocd/manifest.yaml
bootstrap/cilium/manifest.yaml
bootstrap/external-secrets/bitwarden-secret.yaml

# Default Helm chart values, saved locally only to debug/test
default-values.yaml
