apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-oauth
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: grafana-oauth
  data:
    - remoteRef:
        key: 11d32c94-a197-4995-b992-b3e7007e3853
      secretKey: clientId
    - remoteRef:
        key: 4163a50d-4961-404e-aa07-b3e7007e4c4b
      secretKey: clientSecret
