namespaceOverride: infra-monitoring

defaultRules:
  rules:
    alertmanager: false # AlertManager is not deployed as I don't need notifications
    kubeProxy: false    # kube-proxy is not deployed (replaced by Cilium)
    windows: false      # Self-documented
    # I also disable the following rules to lower the power draw of my cluster
    configReloaders: false
    etcd: false
    kubelet: false
    kubeApiserverAvailability: false
    kubeApiserverBurnrate: false
    kubeApiserverHistogram: false
    kubeApiserverSlos: false
    kubeControllerManager: false
    kubeSchedulerAlerting: false
    kubeSchedulerRecording: false
    nodeExporterAlerting: false

alertmanager:
  enabled: false

prometheus:
  prometheusSpec:
    scrapeInterval: 60s
    retention: 30d

    # Disables this weird behavior:
    # 'a nil or {} value for serviceMonitorSelector (defaults to {}) will be replaced with matchLabel: <chart-release-name>'
    serviceMonitorSelectorNilUsesHelmValues: false

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 15Gi

grafana:
  defaultDashboardsTimezone: Europe/Paris

  sidecar:
    datasources:
      alertmanager:
        enabled: false

  grafana.ini:
    auth:
      signout_redirect_url: "https://authentik.sachathommet.fr/application/o/grafana/end-session/"
      oauth_auto_login: true
    auth.generic_oauth:
      name: authentik
      enabled: true
      client_id: $__file{/etc/secrets/oauth/clientId}
      client_secret: $__file{/etc/secrets/oauth/clientSecret}
      scopes: "openid profile email"
      auth_url: "https://authentik.sachathommet.fr/application/o/authorize/"
      token_url: "https://authentik.sachathommet.fr/application/o/token/"
      api_url: "https://authentik.sachathommet.fr/application/o/userinfo/"
      role_attribute_path: contains(groups, 'infra-admin') && 'Admin'
    security:
      disable_initial_admin_creation: true
    server:
      root_url: "https://grafana.sachathommet.fr"

  extraSecretMounts:
    - name: oauth-secret
      secretName: grafana-oauth
      defaultMode: 0440
      mountPath: /etc/secrets/oauth
      readOnly: true

  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100


  persistence:
    enabled: true
    type: pvc
    accessModes: ["ReadWriteOnce"]
    size: 1Gi

kubeEtcd:
  enabled: false

kubeProxy:
  enabled: false

kubeApiServer:
  enabled: false

nodeExporter:
  operatingSystems:
    aix:
      enabled: false
    darwin:
      enabled: false
