clusterName: homelab
endpoint: https://192.168.1.10:6443
allowSchedulingOnMasters: true
talosVersion: v1.12.2
cniConfig:
  name: none                              # do not deploy a default CNI (flannel), because I use Cilium
inlineManifests:
  - name: argocd
    contents: "@../bootstrap/argocd/manifest.yaml"
    skipEnvsubst: true
  - name: external-secrets
    contents: "@../bootstrap/external-secrets/bitwarden-secret.yaml"
    skipEnvsubst: true
  - name: cilium
    contents: "@../bootstrap/cilium/cilium-install.yaml"
    skipEnvsubst: true
patches:
  - |-                                    # do not deploy kube-proxy, as Cilium replaces it
    cluster:
      proxy:
        disabled: true

nodes:
  - hostname: server1
    controlPlane: true
    ipAddress: 192.168.1.10
    installDisk: /dev/nvme0n1
    machineSpec:
      useUKI: true
      secureboot: true
    schematic:
      customization:
        extraKernelArgs:
          - cpufreq.default_governor=powersave  # Lower energy consumption by using the lowest CPU freq (https://docs.siderolabs.com/talos/v1.12/configure-your-talos-cluster/system-configuration/performance-tuning#cpu-scaling & https://docs.kernel.org/admin-guide/pm/cpufreq.html)
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools      # required by longhorn
            - siderolabs/util-linux-tools # required by longhorn
    patches:
      - |-                                # required by longhorn
        machine:
          kubelet:
            extraMounts:
              - destination: /var/lib/longhorn
                type: bind
                source: /var/lib/longhorn
                options:
                  - bind
                  - rshared
                  - rw
      - |-
        machine:
          install:
            wipe: true
