apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authentik-server
spec:
  routes:
    - match: Host(`authentik.sachathommet.fr`)
      kind: Rule
      services:
        - name: authentik-server
          port: 80
  tls:
    certResolver: letsencrypt-prod
