global:
  envFrom:
    - secretRef:
        name: authentik-secret

postgresql:
  enabled: true
  auth:
    existingSecret: authentik-secret
    secretKeys:
      userPasswordKey: AUTHENTIK_POSTGRESQL__PASSWORD

redis:
  enabled: true

blueprints:
  configMaps:
    - authentik-blueprints
